<div class="page-header">
  <h2
    style="font-size:35px;font-family:&quot;Open Sans&quot;, sans-serif;font-weight:bold;color:#393838;letter-spacing:-1px;text-align:center;line-height:40px">
    Quer aprender Angular 2<BR/>
    <span style="text-decoration: underline;"> <strong> do básico ao avançado, </strong></span><BR/>
    Agora mesmo? </h2>
</div>

<BR/>

<div class="col text-center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/_TpWwOH1vAA?autoplay=1" frameborder="0"
          allowfullscreen></iframe>
</div>

<BR/>


<div class="col text-center">
  <button type="button" class="btn btn-lg btn-warning"  (click)="solicitarDesconto()">Sim! Quero meu CUPOM
    de DESCONTO para aprender
    Angular 2
  </button>
</div>
<div class="col text-center">
  <img src="../../assets/imagens/action.jpg">
</div>


<BR/>
<BR/>
<BR/>

<div class="card card-inverse card-success mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h3><strong>Oque vou aprender?</strong></h3>

    </blockquote>
  </div>
</div>


<div class="row">
  <div class="col-md-4">
    <i class="fa fa-check-circle-o"></i> Como configurar um projeto novo<BR/>
    <i class="fa fa-check-circle-o"></i> Configurar projeto com multiplas aplicações<BR/>
    <i class="fa fa-check-circle-o"></i> Ciclo de vida<BR/>
    <i class="fa fa-check-circle-o"></i> TypeScript<BR/>
    <i class="fa fa-check-circle-o"></i> PrimeNG<BR/>
    <i class="fa fa-check-circle-o"></i> Bootstrap<BR/>
    <i class="fa fa-check-circle-o"></i> Template Form<BR/>
    <i class="fa fa-check-circle-o"></i> Reactive Form<BR/>
    <i class="fa fa-check-circle-o"></i> Validação de formulário<BR/>
    <i class="fa fa-check-circle-o"></i> Herança de componentes<BR/>
    <i class="fa fa-check-circle-o"></i> Diretivas nativas<BR/>
    <i class="fa fa-check-circle-o"></i> Diretivas personalizadas<BR/>
    <i class="fa fa-check-circle-o"></i> Aulas bônus<BR/>
  </div>

  <div class="col-md-4">

    <i class="fa fa-check-circle-o"></i> Pipes nativas<BR/>
    <i class="fa fa-check-circle-o"></i> Pipes personalizadas<BR/>
    <i class="fa fa-check-circle-o"></i> ngStyle<BR/>
    <i class="fa fa-check-circle-o"></i> ngClass<BR/>
    <i class="fa fa-check-circle-o"></i> ngIf<BR/>
    <i class="fa fa-check-circle-o"></i> ngSwitch<BR/>
    <i class="fa fa-check-circle-o"></i> ngFor<BR/>
    <i class="fa fa-check-circle-o"></i> Rotas simples<BR/>
    <i class="fa fa-check-circle-o"></i> Rotas passando parâmetro<BR/>
    <i class="fa fa-check-circle-o"></i> Rotas com lazy loading<BR/>
    <i class="fa fa-check-circle-o"></i> Rotas com lazy loading passando parâmetros<BR/>
    <i class="fa fa-check-circle-o"></i> Aulas bônus<BR/>
  </div>

  <div class="col-md-4">
    <i class="fa fa-check-circle-o"></i> Visual Studio Code<BR/>
    <i class="fa fa-check-circle-o"></i> WebStorm<BR/>
    <i class="fa fa-check-circle-o"></i> Detecção de mudanças<BR/>
    <i class="fa fa-check-circle-o"></i> RxJs<BR/>
    <i class="fa fa-check-circle-o"></i> JIT x AOT<BR/>
    <i class="fa fa-check-circle-o"></i> Testes automatizados<BR/>
    <i class="fa fa-check-circle-o"></i> Travis<BR/>
    <i class="fa fa-check-circle-o"></i> Varredura estática de código<BR/>
    <i class="fa fa-check-circle-o"></i> Convensão de código<BR/>
    <i class="fa fa-check-circle-o"></i> TSLint<BR/>
    <i class="fa fa-check-circle-o"></i> Codelyzer<BR/>
    <i class="fa fa-check-circle-o"></i> Aulas bônus<BR/>
  </div>
</div>

<BR/>
<BR/>
<BR/>


<div class="card card-inverse card-success mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h3><strong>Muito bom!</strong> Oque os alunos estão dizendo sobre o curso?</h3>
    </blockquote>
  </div>
</div>

<div class="col text-center">
  <img src="../../assets/imagens/feedback.png">
</div>

<div class="col">
  <div>
    <h2>Lucas Vieceli</h2>
    <p><img src="../../assets/imagens/depoimento-lucas-viceli.png"></p>
  </div>
</div>


<div class="col">
  <div>
    <h2>Marcus Mozzo</h2>
    <p><img src="../../assets/imagens/depoimento-marcus-mozzo.png"></p>
  </div>
</div>

<BR/>
<BR/>

<div class="col text-center">
  <button type="button" class="btn btn-lg btn-warning"
          (click)="solicitarDesconto()">Sim! Quero meu CUPOM de DESCONTO para aprender
    Angular 2
  </button>
</div>
<div class="col text-center">
  <img src="../../assets/imagens/action.jpg">
</div>

<BR/>
<BR/>

<div class="card card-inverse card-success mb-3 text-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <div class="row">
        <div class="col-md-2">
          <img src="../../assets/imagens/money-back-logo.png">
        </div>
        <div class="col-md-10" align="left">
          <P>Garantia TOTAL, Risco ZERO, Reembolso 100%</P>
          <P>Desenvolvimento de software é uma grande paixão nossa, e nós, assim como você, levamos isso a SÉRIO!</P>
          <P>Então, queremos que você tenha total e completa paz mental ao adquirir o curso!</P>

          <B>Funciona assim:</B>

          Adquira o Curso de Angular, assista, estude, pratique pelo período de 30 dias!
          <BR/>

          Durante este período, se você, por qualquer motivo que seja não ficar satisfeito com o material,
          você pode pedir reembolso de 100%, sem perguntas e sem estresse.

          <P>
            <B>Simples assim!</B>
          </P>

          <P>
            Temos plena confiança da qualidade do curso! E queremos que você tenha sucesso com este
            framework incrível da Google!
          </P>

        </div>
      </div>

    </blockquote>
  </div>
</div>
